.logout{
  text-decoration: underline;
  cursor: pointer;
  color: blue;
  margin-right: 5px;
}

.popUp {
  margin-top: 70px;
  padding: 20px;
  background-color: #f44336;
  color: white;
  z-index: 20;
  text-align: center;
  position: relative;
  font-weight: bold;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rt-app-bar {
  text-align: right;
  position: absolute;
  z-index: 10;
  box-sizing: border-box;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 10px -5px;

  .small-thumbnail{
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  .user-details{
    margin-left: 40px;
    margin-right: 5px;
  height: 70px;
  line-height: 70px;
  white-space: nowrap;
  }

  .locate-button{
    margin-top: 18px;
    margin-left: 18px;
    float: left;
    background-color: #3498db;
    color: white;
    border-radius: 2px;
    font-weight: bold;
    cursor: pointer;
    border-style: none;
    height: 30px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 12;
    text-align: left;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
}

.remo-theater{
  margin-left: -378px;
  margin-top: -300px;

  

  .rt-rooms {
    position: absolute;
    z-index: 1;
    .rt-room {
      position: absolute;
      cursor: pointer;

      .image-container{
        position: relative;
      }

      .small-thumbnail{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        border-width: 5px;
        border-color: green;
        border-style: solid;
      }
    
    @keyframes pulse-green {
      0% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
      }
      
      70% {
          transform: scale(3);
          box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
      }
      
      100% {
          transform: scale(0.95);
          box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
      }
  }

      .enlarge{
        animation: pulse-green 0.5s 1;
      }

      .star{
        font-size:40px; 
        color:gold;
        position: absolute;
        top: 0;
        left: 0;
      }

      .rt-room-name {
        font-size: 0.875rem;
        background: #fff;
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
      }

      &:hover {
        background: rgba($color: #000000, $alpha: 0.1);
        border-radius: 4px;
      }
    }
  }
  .rt-background {
    position: absolute;
    img {
      object-fit: cover;
    }
  }
}